table {
    width: 100%;
    border-collapse: collapse;
}
table, td, tr {
    border: 1px solid black;
}
.default-color{
    background-color: #fff;
}
.colored{
    background-color: #03a8f4;
}
h1{
    text-align: center;
}
h2{
    margin: 0;
    padding-bottom: 5px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.table__wrap{
    padding: 15px 0;
}
.select__field{
    width: 150px;
    padding: 2px;
}
.grid button{
    border: none;
    background-color: #0075d8;
    color: #fff;
    border-radius: 5px;
    padding: 6px 20px;
    margin-left: 15px;
    cursor: pointer;
}
.lists{
    padding: 0;
    margin: 0;
}
.lists li{
    list-style: none;
    background-color: #fbf8e3;
    padding: 15px 0 15px 3px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #fbf3df;
    max-width: 160px;
    color: #957c4d;
    font-weight: bold;
}
.info{
    font-size: 14px;
    color: lightslategray;
}

